body{
    
    font-family: 'Source Code Pro', monospace;
}
p{
    font-family: 'Source Code Pro', monospace;
}

    a{
        font-family: 'Source Code Pro', monospace;
    }
    

a:hover{
    background-color: rgb(216, 67, 216);
    font-family: 'Source Code Pro', monospace;
    
}

h1{
    font-family: 'Source Code Pro', monospace;

}
h3{
    font-family: 'Source Code Pro', monospace;
}
ul{
    font-family: 'Source Code Pro', monospace;
}





#digital{
   
    list-style-type:none;
    padding:15px;


}
#digital ul{
    list-style-type:none;
    padding:0
}



  
    

#header{
    background-color:#97C7D8;
  
  
    padding: 1px
    
}
#Resume{
    color:rgb(150, 144, 144)
}
#contact{
    background-color: rgb(230, 225, 225);
    padding: 15px;
}
   #contactyou{
       background-color: rgb(216, 211, 211);
       padding: 15px;
      
   }

  #story{
      background-color: rgb(163, 163, 167);
      padding: 5px;
  }
   
   

#contactheader{
    background-color:#97C7D8;

    padding: 0px;
    

}
#portfoliotext{
    background-color: rgb(248, 245, 246);
    padding: 15px;
}
   

#photo2{
    background-color;
    padding: 5%;
  

}
   
    #photo{
        
        
   
        background-color:rgb(120, 148, 175);
        padding:15px;
        float: top;
       
        
    }

 
    #headshot{
        background-color: rgb(243, 241, 242);
        padding: 15px;

      
       
      
       
       
        
     }
     #maintext{
        float: left;
       
     }



    
#footer{
    background-color: rgb(224, 222, 222);
}



