body{
    background-color: rgb(89, 78, 247);
    font-family: 'Source Code Pro', monospace;
}

A {color: #035077;
    text-decoration: none;
    
    
}
A:hover{
    background-color: rgb(190, 213, 235);
}
h1, h2, h3, h4, content: '\edea';{
    margin: 0;



}
#digital{
   
    list-style-type:none;
    padding:0;


}
#digital ul{
    list-style-type:none;
    padding:0
}
#education{
    color:none;
    
}
#skill{
    color:none;
    
}
#header{
    background-color:#97C7D8;
    margin-left: auto;
    margin-right: auto;
    padding: 15px

}
#Resume{
    color:rgb(150, 144, 144)
}

   

  
   
   



   


   
    #photo{
        
        
        float:right;
        background-color:rgb(243, 241, 236);
        padding:15px;
    
      
      
       
        
     
        
        
        
    }
 
    

#content{
    background-color:rgb(185, 211, 70);
    width:800px;
    padding:0px;
    

}
    



#maintext{
    background-color:#97C7D8;
    padding:10px;
    float:left;
    width:800px;
   
  
    
    
}
#footer{
    color: black;
}